<div class="bg-blue">
  <form [formGroup]="formGroup">
    <div class="container">
      <div class="row my-3">
        <div class="col-12 col-offset-3 bg-white p-5">
          <div class="row mx-3">
            <div class="col-12">
              <div class="row">
                <h1>Acceso al Cluster Khipu</h1>
                <p class="fs-2">
                  Para que el Cluster sea de gran utilidad para todos
                  necesitamos su ayuda enviándonos la siguiente información.
                </p>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <div class="row">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Título del Proyecto</mat-label>
                      <input matInput formControlName="name" />
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Resumen descriptivo</mat-label>
                      <textarea matInput formControlName="summary"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Objetivos</mat-label>
                      <textarea
                        matInput
                        formControlName="objectives"
                      ></textarea>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Fecha de Inicio</mat-label>
                      <input
                        matInput
                        formControlName="starts"
                        [matDatepicker]="starts"
                        (click)="starts.open()"
                      />
                      <mat-datepicker-toggle
                        [for]="starts"
                        matSuffix
                      ></mat-datepicker-toggle>
                      <mat-datepicker #starts></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Fecha de Fin</mat-label>
                      <input
                        matInput
                        formControlName="ends"
                        [matDatepicker]="ends"
                        (click)="ends.open()"
                      />
                      <mat-datepicker-toggle
                        [for]="ends"
                        matSuffix
                      ></mat-datepicker-toggle>
                      <mat-datepicker #ends></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Tipo de Proyecto</mat-label>
                      <mat-select
                        formControlName="type"
                        (selectionChange)="changeProjectType()"
                      >
                        <mat-option value="educativo">
                          Educativo (Clases, RLE, Tesis)
                        </mat-option>
                        <mat-option value="investigacion">
                          Investigación
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="row miembros">
                    <div class="col-md-9">
                      <h5>Miembros:</h5>
                    </div>
                    <div class="col-md-3 pr-0">
                      <div class="example-button-container">
                        <button
                          type="button"
                          mat-icon-button
                          color="primary"
                          (click)="addMember()"
                        >
                          <mat-icon>add</mat-icon>
                        </button>
                        <button
                          type="button"
                          mat-icon-button
                          color="warn"
                          (click)="removeMember()"
                        >
                          <mat-icon>clear</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="row" formGroupName="principal">
                    <div class="col-md-6 pl-0">
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Investigador principal</mat-label>
                        <input matInput formControlName="nombre" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6 pr-0">
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row" *ngIf="projectType == 'educativo'">
                    <div class="col-md-12 px-0" formArrayName="members">
                      <div
                        class="row"
                        *ngFor="
                          let member of memberArray.controls;
                          let i = index
                        "
                      >
                        <div [formGroupName]="i">
                          <div class="col-md-6 pl-0">
                            <mat-form-field appearance="fill" class="w-100">
                              <mat-label>Nombre Alumno</mat-label>
                              <input matInput formControlName="nombre" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6 pr-0">
                            <mat-form-field appearance="fill" class="w-100">
                              <mat-label>Email</mat-label>
                              <input matInput formControlName="email" />
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="projectType == 'investigacion'">
                    <div class="col-md-12 px-0" formArrayName="members">
                      <div
                        class="row"
                        *ngFor="
                          let member of memberArray.controls;
                          let i = index
                        "
                      >
                        <div [formGroupName]="i">
                          <div class="col-md-6 pl-0">
                            <mat-form-field appearance="fill" class="w-100">
                              <mat-label>Nombre Investigador</mat-label>
                              <input matInput formControlName="nombre" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6 pr-0">
                            <mat-form-field appearance="fill" class="w-100">
                              <mat-label>Email</mat-label>
                              <input matInput formControlName="email" />
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row miembros">
                    <div class="col-md-9">
                      <h5>Softwares:</h5>
                    </div>
                    <div class="col-md-3 pr-0">
                      <div class="example-button-container">
                        <button
                          type="button"
                          mat-icon-button
                          color="primary"
                          (click)="addSoftware()"
                        >
                          <mat-icon>add</mat-icon>
                        </button>
                        <button
                          type="button"
                          mat-icon-button
                          color="warn"
                          (click)="removeSoftware()"
                        >
                          <mat-icon>clear</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="softwareArray.length > 0">
                    <div class="col-md-12 px-0" formArrayName="softwares">
                      <div class="row w-100 licence">
                        <div class="col-md-3 col-md-offset-9 text-center pr-0">
                          <span>Licencia?</span>
                        </div>
                      </div>
                      <div
                        class="row"
                        *ngFor="
                          let member of softwareArray.controls;
                          let i = index
                        "
                      >
                        <div [formGroupName]="i">
                          <div class="col-md-9 pl-0">
                            <mat-form-field appearance="fill" class="w-100">
                              <mat-label>Nombre Software</mat-label>
                              <input matInput formControlName="name" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-3 px-0 radio">
                            <mat-radio-group
                              class="radio_buttons"
                              formControlName="license"
                            >
                              <mat-radio-button value="true"
                                >Si</mat-radio-button
                              >
                              <mat-radio-button value="false"
                                >No</mat-radio-button
                              >
                            </mat-radio-group>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row text-center">
                <button
                  type="submit"
                  mat-raised-button
                  color="primary"
                  (click)="enviar()"
                >
                  Enviar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
