<div class="row bgc-white" id="bloc-10">
  <div class="col-sm-12">
    <h2 class="tc-outer-space mg-md">
      <strong>Reporte de uso</strong>
    </h2>
    <div class="alert alert-info">
      <p>
        <strong>Importante:&nbsp;</strong>Actualizado cada 2 min. &nbsp;<br />
      </p>
    </div>
  </div>
</div>
<div class="row bgc-white voffset animated fadeIn">
  <meta http-equiv="refresh" content="120" />
  <div class="col-sm-6">
    <p>
      <img
        border="0"
        alt="report"
        src="assets/img/lazyload-ph.png"
        data-src="http://190.216.191.45/ganglia/graph.php?me=Cluster&amp;m=load_one&amp;r=1/2%20hour&amp;s=by%20name&amp;hc=4&amp;mc=2&amp;g=load_report&amp;z=medium"
        width="100%"
        class="lazyload"
      />
    </p>

    <p>
      <img
        border="0"
        alt="report"
        src="assets/img/lazyload-ph.png"
        data-src="http://190.216.191.45/ganglia/graph.php?me=Cluster&amp;m=load_one&amp;r=1/2%20hour&amp;s=by%20name&amp;hc=4&amp;mc=2&amp;g=cpu_report&amp;z=medium"
        width="100%"
        class="lazyload"
      />
    </p>
  </div>
  <div class="col-sm-6">
    <p>
      <img
        border="0"
        alt="report"
        src="assets/img/lazyload-ph.png"
        data-src="http://190.216.191.45/ganglia/graph.php?me=Cluster&amp;m=load_one&amp;r=1/2%20hour&amp;s=by%20name&amp;hc=4&amp;mc=2&amp;g=mem_report&amp;z=medium"
        width="100%"
        class="lazyload"
      />
    </p>

    <p>
      <img
        border="0"
        alt="report"
        src="assets/img/lazyload-ph.png"
        data-src="http://190.216.191.45/ganglia/graph.php?me=Cluster&amp;m=load_one&amp;r=1/2%20hour&amp;s=by%20name&amp;hc=4&amp;mc=2&amp;g=network_report&amp;z=medium"
        width="100%"
        class="lazyload"
      />
    </p>
  </div>
</div>
