<div class="row bgc-white" id="bloc-4">
  <div class="col-sm-12">
    <h2 class="mg-md tc-outer-space">
      <strong>Software</strong>
    </h2>
    <div class="alert alert-success">
      <p>Última actualización: 23 Agosto 2020.<br /></p>
    </div>
    <h4 class="mg-md">
      <strong>Instalación de software</strong>
    </h4>
    <p>
      Para entrar en contacto con el administrador, por favor enviar un mensaje
      a&nbsp;<a href="mailto:khipu@utec.edu.pe">khipu@utec.edu.pe</a>.
    </p>
    <blockquote>
      <p>
        En caso de software licenciado, el usuario debe proveer la licencia y/o
        instalador del software al administrador para ser instalado.
      </p>
    </blockquote>
    <blockquote>
      <p>
        El usuario puede instalar el software y libraries necesarios en su
        /home, en caso de no requerir licencia o ser código abierto.
      </p>
    </blockquote>
    <blockquote>
      <p>
        El usuario puede compilar en el nodo líder antes de enviar un job a
        ejecutar. No enviar jobs de compilación a la fila del cluster.
      </p>
    </blockquote>

    <blockquote>
      <p>
        Siendo Khipu un cluster enfocado al procesamiento y HPC; no se
        instalarán bases de datos, containers o máquinas virtuales.
      </p>
    </blockquote>
    <blockquote>
      <p>
        Si el software o library requiere permisos especiales para instalación,
        solamente el profesor encargado del curso o un investigador de proyecto
        pueden solicitar la instalación bajo coordinación con el administrador.
      </p>
    </blockquote>
    <blockquote>
      <p>
        En caso de necesitar libraries adicionales de Python, no crear ambientes
        virtuales para instalar. Solamente el profesor encargado del curso o un
        investigador de proyecto pueden solicitar la instalación bajo
        coordinación con el administrador.
      </p>
    </blockquote>
    <blockquote>
      <p>
        Por favor entrar en contacto en caso se requiera un software o library
        adicional que va a ser usado por múltiples investigadores o
        participantes de un curso que no ha sido especificado en el&nbsp;<a
          href="https://forms.gle/ZCw4QsNc1qxvGHhf6"
          target="_blank"
          >Formulario de Solicitud de Acceso</a
        >.
      </p>
    </blockquote>
    <h4 class="tc-outer-space mg-md" id="s">
      <strong>Software disponible</strong>
    </h4>
    <p>
      El cluster Khipu usa CentOS 7 (Linux/GNU) como sistema operativo principal
      y Slurm como manager de filas.<br />Para listar desde su terminal el
      software disponible para el usuario.<br />
    </p>
    <div class="alert alert-success codeformat">
      <p>[juana.perez@khipu ~]$ module avail<br /></p>
    </div>
    <p>
      La siguiente tabla muestra los comandos para poder cargar y usar el
      software en su entorno.
    </p>

    <table role="grid" class="table" resolved="" id="sort">
      <colgroup>
        <col />
        <col />
        <col />
        <col />
      </colgroup>
      <thead class="header-table">
        <tr role="row">
          <th
            data-column="0"
            tabindex="0"
            scope="col"
            role="columnheader"
            aria-disabled="false"
            unselectable="on"
            aria-sort="none"
            aria-label="Directive: No sort applied, activate to apply an ascending sort"
          >
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              Nombre
              <span>⇕</span>
            </p>
          </th>
          <th
            data-column="1"
            tabindex="0"
            scope="col"
            role="columnheader"
            aria-disabled="false"
            unselectable="on"
            aria-sort="none"
            aria-label="Short Version: No sort applied, activate to apply an ascending sort"
          >
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              Versión
              <span>⇕</span>
            </p>
          </th>
          <th
            data-column="2"
            tabindex="0"
            scope="col"
            role="columnheader"
            aria-disabled="false"
            unselectable="on"
            aria-sort="none"
            aria-label="Description: No sort applied, activate to apply an ascending sort"
          >
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              Comando de uso
              <span>⇕</span>
            </p>
          </th>
          <th
            data-column="3"
            tabindex="0"
            scope="col"
            role="columnheader"
            aria-disabled="false"
            unselectable="on"
            aria-sort="none"
            aria-label="Description: No sort applied, activate to apply an ascending sort"
          >
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              Categoría
              <span>⇕</span>
            </p>
          </th>
        </tr>
      </thead>
      <tbody aria-live="polite" aria-relevant="all">
        <tr role="row">
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              cmake
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              3.16.5
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              module load cmake/3.16.5
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              compiler
            </p>
          </td>
        </tr>
        <tr role="row">
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              gcc
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              5.5.0
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              module load gcc/5.5.0
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              compiler
            </p>
          </td>
        </tr>
        <tr role="row">
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              gcc
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              6.5.0
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              module load gcc/6.5.0
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              compiler
            </p>
          </td>
        </tr>
        <tr role="row">
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              gcc
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              7.5.0
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              module load gcc/7.5.0
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              compiler
            </p>
          </td>
        </tr>
        <tr role="row">
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              gcc
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              8.4.0
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              module load gcc/8.4.0
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              compiler
            </p>
          </td>
        </tr>
        <tr role="row">
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              gcc
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              9.2.0
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              module load gcc/9.2.0
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              compiler
            </p>
          </td>
        </tr>
        <tr role="row">
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              hdf5
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              1.10.5
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              module load hdf5/1.10.5
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              lib
            </p>
          </td>
        </tr>
        <tr role="row">
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              mpich
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              3.1.4
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              module load mpich/3.1.4
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              compiler
            </p>
          </td>
        </tr>
        <tr role="row">
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              mpich
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              3.3.2
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              module load mpich/3.3.2
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              compiler
            </p>
          </td>
        </tr>
        <tr role="row">
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              openmpi
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              2.1.6
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              module load openmpi/2.1.6
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              compiler
            </p>
          </td>
        </tr>
        <tr role="row">
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              openmpi
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              3.1.5
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              module load openmpi/3.1.5
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              compiler
            </p>
          </td>
        </tr>
        <tr role="row">
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              openmpi
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              4.0.3
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              module load openmpi/4.0.3
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              compiler
            </p>
          </td>
        </tr>
        <tr role="row">
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              python
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              2.7.17
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              module load python/2.7.17
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              language
            </p>
          </td>
        </tr>
        <tr role="row">
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              python
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              3.7.7
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              module load python/3.7.7
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              language
            </p>
          </td>
        </tr>
        <tr role="row">
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              mpich
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              1.5
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              module load mpich/1.5
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              compiler
            </p>
          </td>
        </tr>
        <tr role="row">
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              mpich
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              3.2.1
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              module load mpich/3.2.1
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              compiler
            </p>
          </td>
        </tr>
        <tr role="row">
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              pmix
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              2.1
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              module load pmix/2.1
            </p>
          </td>
          <td>
            <p
              data-tablet-text-size="14px"
              data-mobile-text-size="14px"
              class=""
              data-desktop-text-size="14px"
              style="font-size: 14px"
            >
              lib
            </p>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace();
    </script>

    <h5 class="mg-md">
      <strong>Ejemplo</strong>
    </h5>
    <p>Para cargar gcc versión 7.5.0, usar el comando de uso sugerido:</p>
    <div class="alert alert-success codeformat">
      <p>[juana.perez@khipu ~]$ module load gcc/7.5.0</p>
    </div>
    <p>
      Una vez terminado de el usar el software es recomendable hacer unload.
      Esto también se usa en scripts de jobs (ver ejemplos en la&nbsp;<a
        href="guia.html"
        >Guía de Uso</a
      >).
    </p>
    <div class="alert alert-success codeformat">
      <p>[juana.perez@khipu ~]$ module unload gcc/7.5.0</p>
    </div>
  </div>
</div>
