<!-- bloc-2 -->
<div class="row bgc-white" id="bloc-2">
  <div class="col-sm-12">
    <h2 class="tc-outer-space mg-md">
      <strong>Política de uso</strong>
    </h2>
    <div class="alert alert-info">
      <p>
        <strong>Importante:&nbsp;</strong>Esta documentación es un trabajo en
        progreso. <br />Última actualización: 23 Agosto 2020.<br />
      </p>
    </div>
    <h4 class="tc-outer-space mg-md">
      <strong>Información general</strong>
    </h4>
    <p>
      El cluster Khipu es un servicio orientado a la investigación como parte
      del Centro de Investigación para la Computación Sostenible (CICS) de la
      Universidad de Ingeniería y Tecnología (UTEC).&nbsp;Si requiere más
      información o ayuda por favor entre en contacto a&nbsp;<a
        href="mailto:khipu@utec.edu.pe"
        >khipu@utec.edu.pe</a
      >.
    </p>
    <h4 class="tc-outer-space mg-md" id="s">
      <strong>Solicitud de acceso</strong>
    </h4>
    <div class="alert alert-success">
      <p>
        <span
          >El pedido de creación de cuentas para acceso lo realizará:&nbsp;a) el
          investigador principal del proyecto (PI), o&nbsp;b) el profesor
          responsable del curso.</span
        >
      </p>
    </div>
    <div class="text-center">
      <a
        class="btn btn-outer-space"
        href="https://forms.gle/ZCw4QsNc1qxvGHhf6"
        target="_blank"
        >Abrir la solicitud de acceso</a
      >
    </div>
    <h4 class="mg-md">
      <strong>Reglas de uso&nbsp;</strong>
    </h4>
    <div class="alert alert-danger">
      <p>
        <strong>Importante: Por favor, leer con atención.&nbsp;</strong>
      </p>
    </div>
    <blockquote>
      <p>Las cuentas son estrictamente personales.</p>
    </blockquote>
    <blockquote>
      <p>
        El usuario no debe compartir su cuenta (password, ssh keys, acceso VPN).
      </p>
    </blockquote>
    <blockquote>
      <p>
        El usuario no debe usar la cuenta de otra persona, con o sin
        consentimiento.
      </p>
    </blockquote>
    <blockquote>
      <p>
        En caso de existir sospecha que otros han usado su cuenta, notificarlo
        inmediatamente a&nbsp;<a href="mailto:khipu@utec.edu.pe"
          >khipu@utec.edu.pe</a
        >.
      </p>
    </blockquote>
    <blockquote>
      <p>
        Seguir y respetar las buenas práticas: <br />1. No usar el espacio
        asignado como almacenamiento personal. <br />2. Usar solamente el
        cluster para procesamiento paralelo de acuerdo a las recomendaciones.
        <br />3. Evitar duplicidad de archivos/directorios. <br />4. Usar las
        aplicaciones instaladas, y compilar en su espacio personal otras
        aplicaciones solamente si fueran necesarias para el desarrollo de su
        proyecto o trabajo. <br />5. No instalar software de procedencia ilegal
        y/o con licencia no otorgada por los desarrolladores.<br />
        6. No ejecutar programas en el nodo de acceso (nodo líder), usar la
        fila.
      </p>
    </blockquote>
    <blockquote>
      <p>
        El usuario acepta cumplir con la normativa y sanciones impuestas por
        UTEC en sus atribuciones.
      </p>
    </blockquote>
    <blockquote>
      <p>
        En caso de no cumplir normas de UTEC y/o atentar contra la ley, el
        evento será notificado a las autoridades pertinentes.
      </p>
    </blockquote>
    <blockquote>
      <p>
        En caso de incumplimiento de los items anteriores, la cuenta será
        suspendida.
      </p>
    </blockquote>
  </div>
</div>

<!-- bloc-2 END -->
